body {
    display: flex;
    justify-content: center;
}

form {
    margin: 45px;
}

label,
input,
select {
    display: block;
}

label {
    margin: 20px;
    position: relative;
}

span.required::after {
    content: 'required field';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    color: red;
}

input:valid + span.required::after {
    content: '✓';
    color: green;
}

span.required::after {
    content: 'required field';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
}

input:not(:placeholder-shown):invalid,
.invalid {
    border: 1px solid red;
}

select {
    width: 100%;
}

::placeholder {
    font-size: 10px;
}

#country {
    border: 1px solid green;
}
